# Ignore Service Account Key file

*.json
application_default_credentials.json

# Ignore SSH key file
*.pub
*_rsa
instance_group/id_rsa.pub

# Ignore Terraform State file

*.tf_state
*.tf_state.backup